body {
    margin: 0;
    box-sizing: border-box;
    font-size: 4rem;
    font-family: sans-serif;
    background-color: rgb(46, 196, 54);
}

.grid-contenedor{
    display: grid;
    background-color: hotpink;
    border-radius: 10px;
    border: solid 2px #943f3f;
    
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: solid 1px rgba(216, 203, 19, 0.815);
    border-radius: 10px;
    text-align: center;
}

.grid-contenedor {
    grid-template-columns: repeat (3, [first] 100px [second] 30%  [third] auto);
    grid-template-rows: 200px 25% 25%;
}